.profileBtn{
    background-color: #f3fafd;
    margin-left: 15px;
    border:none;
    font-weight: bold;
    color: #02055A;
    vertical-align: top;
    width: 38px;
}

.contentTopNavBar ul li{
    display: inline;
}

.classroom{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.homeBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}

.homeBtn a{
    color: #1a1b54;
}

.shareCodebtn, .createGamebtn{
    border:none;
    font-size: 16px;
}

.btnSelections{
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.createGamebtn:hover, .shareCodebtn:hover{
    box-shadow: 1px 1px 5px rgba(125, 124, 153, 0.7);
}

.createGamebtn, .shareCodebtn{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    background-color: #7e7c99;
    padding: 10px 20px;
    border-radius: 2px;
}


/*Game Page Content Start*/

.titleBar{
    margin: 10px 35px;
    background-color: rgba(41, 40, 129, 0.2);
    max-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    padding: 2%;
    position: relative;
    margin-bottom: 40px;
    color: black;
}

.classroomTxt, .subjectTxt, .descTxt, .classCodeTxt{
    padding: 8px;
    color: #1a1b54;
}

.classroomTxt{
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 30px;
    font-weight: 600;
}

#classCode{
    font-weight: 700;
}

.subjectTxt{
    font-size: 18px;
    text-transform: capitalize;
}

.descTxt{
    opacity: 0.8;
    text-transform: capitalize;
}

.classCodeTxt{
    opacity: 0.8;
}

.menuButtonContainer{
    float: right;
} 

.gameQuizList{
    border: 2px solid #02055A;
    border-radius: 20px;
    max-width: 100%;
    min-height: 100px;
    padding: 25px 30px;
    margin: 10px 50px;
    color: #1a1b54;
    background-color: white;
}

/*----------- Drop Down Menu Start ------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(125, 124, 153, 0.4);
    z-index: 1;
}

.dropdown-content a, .deleteGameBtn{
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 400;
}

.deleteGameBtn, .ahrefbutton{
    border:none;
    width: 100%;
    text-align: left;
    background: #f9f9f9;
}

.dropdown-content a:hover, .deleteGameBtn:hover{
    background-color: #7e7c99;
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100px;
}

/*----------- Drop Down Menu End ------------*/

/*----------- Quiz Design Start ------------*/

.quizName, .quizDesc, .quizScore, .quizTotalQuestion{
    padding: 3px 0;
}

.quizName{
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}

.quizDesc{
    text-transform: capitalize;
}

.quizScore{
    margin-top: 20px;
}

.quizScore, .quizTotalQuestion{
    opacity: 0.7;
    font-size: 15px;
}

.quizMenuBtn{
    border:none;
    background-color: white;
    font-weight: 900;
    font-size: 22px;
    color: #02055A;
}

/*----------- Quiz Design End ------------*/

/*Game Page Content End*/