.congrats{
    font-family: cursive; 
    color: #02055A; 
    font-size: 40px;
}

.hint {
    font-family: cursive; 
    color: #7e7c99; 
    font-size: 20px;
}

.contentMiddle {
    text-align: center; 
    margin-top: 250px;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}

.link {
    text-decoration: none;
}

.whole {
    display: flex;
    flex-flow: column wrap;
}