.profileBtn{
    background-color: #f3fafd;
    margin-left: 15px;
    border:none;
    font-weight: bold;
    color: #02055A;
    vertical-align: top;
    width: 38px;
}

.createClassBtn{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.createClassBtn a:hover{
    box-shadow: 1px 1px 5px rgba(125, 124, 153, 0.7);
}

.createClassBtn a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    background-color: #7e7c99;
    padding: 10px 20px;
    border-radius: 2px;
}

/*----------- Classroom Card Start ------------*/

.classRow{
    margin-left: 25px;
}

/* Float four columns side by side */
.classColumn {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin: 15px;
    margin-left: 0px;
    margin-bottom: 30px;
}

/* Clear floats after the columns */
.classRow:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .classColumn {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 2px 5px 0 rgba(41, 40, 129, 0.3);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: #02055A;
    height: 230px;
}

.classMenuBtn{
    border:none;
    font-weight: bold;
    color: #02055A;
    vertical-align: top;
}

.classCardContent{
    text-align: left;
    margin: 15px 10px;
}

.classTitle{
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    height: 50px;
    white-space: initial;
}

.subjectTxt, .descTxt{
    text-transform: capitalize;
    white-space: initial;
}

.subjectTxt{
    text-align: center;
    background-color: rgba(41, 40, 129, 0.2);
    color: rgba(41, 40, 129, 0.9);
    font-weight: 550;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
}

.descTxt{
    height: 40px;
    opacity: 0.8;
}

.intoClassBtn{
    width:100%;
    background-color: #7e7c99;
    color: white;
    border: 3px solid #7e7c99;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px 0 rgba(41, 40, 129, 0.3);
}

.intoClassBtn:hover{
    text-decoration: underline;
}

/*----------- Classroom Card End ------------*/

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(125, 124, 153, 0.4);
    z-index: 1;
    text-transform: capitalize;
    text-align: left;
}

.dropdown-content a, .deleteClassroomBtn {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 400;
}

.deleteClassroomBtn{
    border: none;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
}

.dropdown-content a:hover, .deleteClassroomBtn:hover{
    background-color: #7e7c99;
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}