.loginTopNavBar{
    text-align: center;
    padding: 15px 0;
    background-color: #02055A;
    color:white;
    box-shadow: 2px 2px 5px #7e7c99;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    position:fixed;
    top:0;
    width:100%;
}

.topNavContent{
    padding: 0 10px;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    margin: 0 10px;
}
.profileBtn{
    background-color: #fffafa;
    margin-left: 15px;
    border:none;
    font-weight: bold;
    color: #812928;
    vertical-align: top;
    width: 38px;
}

.homeBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}

.homeBtn a{
    color: #541b1a;
}

/*----------- Power Card Start ------------*/

.content{
    margin-top: 50px;
}

.powerType{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #1a1b54;
}

.powerTitle{
    margin: 40px 10px;
    color: #7e7c99;
}

.powerTitleText{
    height: 80px;
    white-space: initial;
    text-align: center;
    line-height: 1.8;
}

.powerRow{
    margin-left: 25px;
}

/* Float four columns side by side */
.powerColumn {
    padding: 0 10px;
    margin: 25px 15px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: inline-table;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .powerColumn {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 2px 5px 0 rgba(41, 40, 129, 0.3);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: #02055A;
    width: 194px;
}

.powerCardContent{
    margin: 0px 10px;
    max-height: 180px;
}

.powerTitle{
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    width: 100%;
    height: 80px;
}

.belowContentPoints{
    background-color: #02055A;
    color:white;
    text-align: center;
    border-radius: 20px;
    padding: 8px 30px;
}


.belowContentDesc{
    white-space: initial;
    width: auto;
    height: 300px;
    font-size: 15px;
    line-height: 2;
}

/*----------- Power Card End ------------*/



.goBackBtn{
    margin: 80px 0 0 30px;
}

.backBtn{
    border:none;
    background-color: #f3fafd;
}