.loginTopNavBar{
    text-align: center;
    padding: 15px 0;
    background-color: #02055A;
    color:white;
    box-shadow: 2px 2px 5px #7e7c99;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    position:fixed;
    top:0;
    width:100%;
}

.topNavContent{
    padding: 0 10px;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    margin: 0 10px;
}

/*----------- Question Start ------------*/

.questionTxtArea textarea{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 80px;
    border: 2px solid rgba(125, 124, 153, 0.7);
    padding: 30px 0px;
}

.questionTxtArea textarea{
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    white-space: initial;
}

.answerTxtArea{
    text-align: center;
    margin: 40px 0 80px 0;
    display:flex;
    flex-direction: row;            
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center; 
    margin: 20px 18px;
    border:none;
    padding: 15px 0px;
}

.trueFalseTxt{
    margin: auto;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.trueFalseBtn{
    width: 100%; 
    height: 100%;
    border: none;
    background-color: transparent;
}

.ansTxtArea-container{
    border: 2px solid rgba(125, 124, 153, 0.7);
    width: 300px;
    border-radius: 20px;
    margin: 0 20px 50px 20px;
    height: 300px;
}

.ansTxtArea-container .correctAnsBtn{
    float:right;
    border:none;
    margin: 20px 20px 0 0;
}

.questionTxtArea textarea::placeholder{
    color: rgba(125, 124, 153, 0.4);
    text-transform: capitalize;
    opacity: 1; 
}

.answerTrue{
    border-radius: 20px;
    background-color: white;
}

.answerFalse{
    border-radius: 20px;
    background-color: white;
}

.green {
    border-radius: 20px;
    background-color: #adebad;
}

.red {
    border-radius: 20px;
    background-color: #ff8164;
}

/*----------- Question End ------------*/

/*----------- Bottom Nav Start ------------*/

.fixedBottomNav{
    overflow: hidden;
    background-color: #02055A;
    color:white;
    padding: 0px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.detailSelectionArea{
    float:left;
    margin: 15px auto; 
}

.detailSelection{
    margin: 0px 50px 0px auto;
}

.bottomNavContent .fa{
    vertical-align: bottom;
}

.bottomNavContent select{
    border:none;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.btnSelections{
    float:right;
}

.questionSaveBtn{
    border:none;
    padding: 2px 20px;
    border-radius: 2px;
    background-color: white;
    text-transform: uppercase;
    font-size: 18px;
    height: 40px;
    letter-spacing: 2px;
    margin: 5px 50px 5px 0px;
    font-weight: 600;
}

.questionCancelBtn{
    text-transform: uppercase;
    font-size: 18px;
    height: 25px;
    letter-spacing: 1px;
    margin: 5px 40px 5px 0px;
    background-color: #02055A;
    border:none;
    color:white;
}

/*----------- Bottom Nav End ------------*/

.btnTimer{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 100px;
    margin-left: 20px;
    position: relative;
}

.btnTimer h3{
    font-size: 20px;
}