@import url('https://rsms.me/inter/inter.css');

::-webkit-scrollbar{
    width: 0;
    height: 0;
    background: transparent;
}

*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

html{
    background-color: #f3fafd;
}

.loginTopNavBar{
    text-align: center;
    padding: 20px;
    background-color: #02055A;
    color:white;
    box-shadow: 2px 2px 5px #7e7c99;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.loginContent h1{
    text-align: center;
    color: #1a1b54;
}

.logoImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

/*Form Start*/

.loginFormContainer{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 20px;
    width: 300px;
    margin: 10px auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.resetBtn {
    width: 100%;
    background-color: #02055A;
    color: white;
    padding: 14px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 2px;
}

#showPwCheckBox{
    accent-color: #02055A;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#showPwTxt{
    font-size: 12px;
    vertical-align: text-top;
}

.forgetPwTxt{
    text-align: right;
    margin-right: 8px;
}

.forgetPwTxt a{
    font-size: 12px;
    text-decoration: underline;
    color: #7e7c99;
}

.goBackBtn{
    margin: 30px 0 0 30px;
}

.backBtn{
    border:none;
    background-color: #f3fafd;
}
/*Form End*/