.profileBtn{
    background-color: #f3fafd;
    margin-left: 15px;
    border:none;
    font-weight: bold;
    color: #02055A;
    vertical-align: top;
    width: 38px;
}

.contentTopNavBar ul li{
    display: inline;
}

.shareCodebtn, .manualAddbtn{
    border:none;
    font-size: 16px;
}

.btnSelections{
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.manualAddbtn:hover, .shareCodebtn:hover{
    box-shadow: 1px 1px 5px rgba(125, 124, 153, 0.7);
}

.manualAddbtn, .shareCodebtn{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    background-color: #7e7c99;
    padding: 10px 20px;
    border-radius: 2px;
}

.classroom{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.homeBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}

.homeBtn a{
    color: #1a1b54;
}

/*Game Page Content Start*/

.titleBar{
    margin: 10px 35px;
    background-color: rgba(41, 40, 129, 0.2);
    max-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    padding: 2%;
    position: relative;
    margin-bottom: 40px;
    color: black;
}

.classroomTxt, .subjectTxt, .descTxt, .classCodeTxt{
    padding: 8px;
    color: #1a1b54;
}

.classroomTxt{
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 30px;
    font-weight: 600;
}

#classCode{
    font-weight: 700;
}

.subjectTxt{
    font-size: 18px;
    text-transform: capitalize;
}

.descTxt{
    opacity: 0.8;
    text-transform: capitalize;
}

.classCodeTxt{
    opacity: 0.8;
}

.menuButtonContainer{
    float: right;
}   

/*----------- Instructor & Student List Start ------------*/

.instructorList, .studentList{
    max-width: 100%;
    padding: 10px 30px;
    margin: 10px 50px 30px 50px;
    color: #1a1b54;
}

.instructorPic, .studentPic{
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.iListName, .sListName{
    font-size: 17px;
    text-transform: capitalize;
}

.removeStudentBtn{
    border:none;
    color: #02055A;
    background-color: #f3fafd;
    vertical-align: super;
    border-radius: 50px;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.removeStudentBtn:hover{
    color:white;
}

.instructorListTable, 
.studentListTable{
    width: 100%;
    border-collapse: collapse;
}

.instructorListTable th, 
.studentListTable th{
    border-bottom: 1px solid rgba(41, 40, 129, 0.9);
    font-size: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
}

.instructorListTable tr:last-child td,
.studentListTable tr:last-child td{
    border-bottom: 1px solid rgba(41, 40, 129, 0.9);
}

.instructorListTable td,
.studentListTable td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px dashed rgba(41, 40, 129, 0.2);
}

.studentListTable tr:not(:first-child):hover {
    background-color: rgba(41, 40, 129, 0.2);
}

.studentListTable tr:not(:first-child):hover .removeStudentBtn{
    background-color: rgba(41, 40, 129, 0.1);
}

.instructorListTable .left,
.studentListTable .left{
    width: 3%;
}

.instructorListTable .center,
.studentListTable .center{
    width: 92%;
}

.studentListTable .right{
    width: 5%;
    vertical-align: bottom;
}

/*-----------  Instructor & Student List End ------------*/

/*Game Page Content End*/