.loginTopNavBar{
    text-align: center;
    padding: 15px 0;
    background-color: #02055A;
    color:white;
    box-shadow: 2px 2px 5px #7e7c99;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    position:fixed;
    top:0;
    width:100%;
}

.topNavContent{
    padding: 0 10px;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    margin: 0 10px;
}

.goBackBtn{
    margin: 80px 0 0 30px;
}

.backBtn{
    border:none;
    background-color: #f3fafd;
}

/*----------- Score and Rank Start ------------*/

.scoreAndRankContent{
    margin-top: 30px;
    margin-left: 33%;
    margin-right: 33%;
}

.container {
    display: flex;
    align-items: flex-end;
}

.podium__item {
    width: 200px;
}

.podium__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
}

.podium__city {
    text-align: center;
    padding: 0 .5rem;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    color: #02055A;
}

.podium__number {
    width: 27px;
    height: 75px;
}

.podium__score {
    font-weight: bold;
    text-align: center;
    padding: 0 .5rem;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
    color: #02055A;
}

.podium .first {
    min-height: 300px;
    background: rgba(41, 40, 129, 0.3);
    box-shadow:2px -2px 3px 1px grey;
}

.podium .second {
    min-height: 200px;
    background: rgba(41, 40, 129, 0.6);
    box-shadow:0px -2px 2px 0 grey;
}

.podium .third {
    min-height: 100px;
    background: rgba(41, 40, 129, 0.9);
    box-shadow:2px -2px 2px 0 rgba(184, 184, 184, 0.9);
}


.outOfPodiumTable{
    width: 100%;
    border-collapse: collapse;
    color: #02055A;
    text-transform: uppercase;
}

.outOfPodiumTable tr:last-child td{
    border-bottom: 1px solid rgba(41, 40, 129, 0.9);
}

.outOfPodiumTable td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px dashed rgba(41, 40, 129, 0.2);
}

.outOfPodiumTable .left{
    font-weight: 600;
}

.outOfPodiumTable .right{
    font-weight: bold;
    text-align: right;
}

.text{
    color: #02055A;
    font-weight: bold;
    position: relative; 
    right: 200px; 
    top: 38px;
}
/*----------- Score and Rank End ------------*/