/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Aug 2022, 4:51:55 pm
    Author     : suibi
*/

/*
theme color
#541b1a - brown
#812928 - dark
#997c7c - light
#e74c3c - orange
*/

@import url('https://rsms.me/inter/inter.css');

*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

html{
    background-color: #fffafa;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #812928;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #997c7c;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*Top Bar*/
.contentTopNavBar{
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
}

.usernamePosition{
    text-align: right;
    float: right;
}

.contentTopNavBar a{
    text-decoration: none;
    text-transform: capitalize;
    color:black;
}

/*Right Top Nav Bar*/
.profilePic { 
    width: 40px;
    float:left;
    margin-right: 20px;
    border-radius: 50%; 
    display: block;
    height: 40px;
    margin-bottom: 20px;
    cursor:pointer;
}

#logoutBtn{
    vertical-align: super;
    font-size: 15px;
    background-color: #997c7c;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 10px 20px;
    float:left;
}

.contentTopNavBar ul li{
    display: inline;
}

